#gradent1 {
  background-color: #c7d8e8; /* For browsers that do not support gradients */
  background-image: linear-gradient(60deg, #c7d8e8, #fde6e7);
}


.formInput{
  border-color: #f0f5f9;
  background-color: #f0f5f9;
}



/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}